<% include ../partials/header %>

<h5 class=" d-flex justify-content-center" style="padding-top: 1em;">
	Edit Club Details
</h5>
<div class=row>
	<form action="/MyAcc" class="mx-auto" method="POST">
		<div class="form-group">
			<input class="form-control " type="text" maxlength="20" name="cName" value="<%=data.ClubName%>" required>
		</div>
		<div class="form-group">
			<input class="form-control " type="text" maxlength="20" name="cPres" value="<%=data.President%>" required>
		</div>
		<div class="form-group">
			<input class="form-control " type="text" name="cInsta" value="<%=data.Insta_Id%>" required>
		</div>
		
        <div class="form-group">
			<input class="form-control " type="text" name="cFb" value="<%=data.Fb_Id%>" required>
		</div>
		<div class="form-group">
			<input class="form-control " type="number" name="cYear" value="<%=data.Start_Year%>" required>
		</div>
		<div class="form-group">
			<input class=" FadeIn Fourth" type="submit">
		</div>
	</form>
</div>


<% include ../partials/footer %>