<% include ../partials/header %>
<h5 class=" d-flex justify-content-center">
	Payment Info 
</h1>
<div>
	 <form action="/movies/<%=event.idEvents%>/pay" method="POST"> 
		
		<div class="form-group" style="width: 8em ; margin-left: 26em;">
			<p>Event Fee(INR):</p>
			<input class="form-control " type="text" name="eFee" placeholder="Fee" readonly value="<%=event.Fee%>">
		</div>
		<div style="margin-left: 26.5em;">
		 <script  
        src="//checkout.stripe.com/v2/checkout.js"
        class="stripe-button" 
        data-key="<%= key %>" 
        data-amount="<%= event.Fee*100%>"+ 
        data-currency="INR" 
        data-name="<%=currentUser.username%>" 
        data-description="<%= event.Name%>" 
        data-locale="auto"> 
        </script> 
    </form> 
		</div>
   	
</div>

<a href="/movies/<%=event.idEvents%>">Go Back </a>
<% include ../partials/footer %>